html,
body,
a {
  color: #ffffff;
  transition: ease all 0.3s;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px #BABABA;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #269ED5;
  border-radius: 10px;
}

.ai-wd-header .ai-wd-navbar {
  background-color: #2E2E2E;
}
.ai-wd-header .ai-wd-navbar .navbar-brand {
  min-width: 280px;
}
.ai-wd-header .ai-wd-navbar .navbar-brand img {
  max-width: 180px;
}
.ai-wd-header .ai-wd-navbar .navbar-searchBox {
  border-radius: 30px;
  padding: 10px 20px;
  box-shadow: #ffffff 0px 0px 5px;
  width: 30%;
  min-width: 300px;
}
.ai-wd-header .ai-wd-navbar .navbar-searchBox input {
  background-color: transparent;
  border: 0;
  outline: none;
  color: #BABABA;
  width: 100%;
}
.ai-wd-header .ai-wd-navbar .nav-notifications {
  position: relative;
  display: inline-block;
}
.ai-wd-header .ai-wd-navbar .nav-notifications i {
  font-size: 28px;
}
.ai-wd-header .ai-wd-navbar .nav-notifications .notification-count {
  border-radius: 50%;
  background-color: #269ED5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 25px;
  width: 25px;
  font-size: 14px;
  top: -8px;
  right: -15px;
}
.ai-wd-header .ai-wd-navbar .user-dp {
  max-width: 70px;
  display: inline-block;
}
.ai-wd-header .ai-wd-navbar .user-dp img {
  border-radius: 50%;
}

.ai-wd-sidebar {
  width: 300px;
  height: calc(100dvh - 74px);
  background-color: #2E2E2E;
  border-top: 2px solid #000000;
  position: relative;
}
.ai-wd-sidebar .sidebar-items {
  height: calc(100dvh - 230px);
  padding: 20px 15px;
  overflow-y: auto;
  /* width */
}
.ai-wd-sidebar .sidebar-items::-webkit-scrollbar {
  width: 7px;
}
.ai-wd-sidebar .sidebar-items .sidebar-menu-heading {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: normal;
}
.ai-wd-sidebar .sidebar-items .accordion-item {
  border: 0;
  padding: 0 15px;
}
.ai-wd-sidebar .sidebar-items .accordion-item .accordion-button {
  border: 0px;
  padding: 10px 0 10px 15px;
  font-size: 16px;
}
.ai-wd-sidebar .sidebar-items .accordion-item .accordion-button:not(.collapsed) {
  box-shadow: none;
}
.ai-wd-sidebar .sidebar-items .accordion-item .accordion-button:focus {
  box-shadow: none;
}
.ai-wd-sidebar .sidebar-items .accordion-item .accordion-button::after {
  content: "";
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDUxMiA1MTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0yMzMuNCA0MDYuNkMyNDUuOSA0MTkuMSAyNjYuMiA0MTkuMSAyNzguNyA0MDYuNkw0NzAuNyAyMTQuNkM0ODMuMiAyMDIuMSA0ODMuMiAxODEuOCA0NzAuNyAxNjkuM0M0NTguMiAxNTYuOCA0MzcuOSAxNTYuOCA0MjUuNCAxNjkuM0wyNTYgMzM4LjdMODYuNTk5OCAxNjkuNEM3NC4wOTk4IDE1Ni45IDUzLjc5OTggMTU2LjkgNDEuMjk5OCAxNjkuNEMyOC43OTk4IDE4MS45IDI4Ljc5OTggMjAyLjIgNDEuMjk5OCAyMTQuN0wyMzMuMyA0MDYuN0wyMzMuNCA0MDYuNloiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=");
  position: absolute;
  left: -10px;
  scale: 0.6;
}
.ai-wd-sidebar .sidebar-items .accordion-item i {
  margin-right: 6px;
  min-width: 18px;
}
.ai-wd-sidebar .sidebar-items .accordion-item,
.ai-wd-sidebar .sidebar-items .accordion-button {
  background-color: #2E2E2E;
  color: #ffffff;
}
.ai-wd-sidebar .sidebar-items .accordion-body {
  padding: 0px 10px;
}
.ai-wd-sidebar .sidebar-items .accordion-body ul {
  list-style: none;
  padding-left: 0;
}
.ai-wd-sidebar .sidebar-items .accordion-body ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 15px;
  transition: ease all 0.3s;
  width: 100%;
  display: inline-block;
}
.ai-wd-sidebar .sidebar-items .accordion-body ul li a:hover {
  background-color: #269ED5;
}
.ai-wd-sidebar .sidebar-items .accordion-body ul li a i {
  margin-right: 4px;
}
.ai-wd-sidebar .new-folder-btn i {
  display: none;
}
.ai-wd-sidebar .expand-storage-wrapper {
  position: absolute;
  width: calc(100% - 30px);
  bottom: 15px;
  left: 15px;
  right: 15px;
}
@media (max-width: 1300px) {
  .ai-wd-sidebar {
    position: absolute;
    z-index: 9;
    width: 70px;
    transition: ease all 0.5s;
  }
  .ai-wd-sidebar > * {
    transition: ease all 0.5s;
  }
  .ai-wd-sidebar .sidebar-items {
    padding-top: 50px;
    height: calc(100dvh - 115px);
  }
  .ai-wd-sidebar .sidebar-menu-heading,
  .ai-wd-sidebar .new-folder-btn span {
    display: none;
  }
  .ai-wd-sidebar .new-folder-btn i {
    display: block;
  }
  .ai-wd-sidebar .new-folder-btn .btn {
    padding: 11px 10px;
  }
  .ai-wd-sidebar .accordion .accordion-item {
    padding: 0;
  }
  .ai-wd-sidebar .accordion .accordion-item .accordion-button {
    padding: 15px 0;
    display: flex;
    justify-content: center;
  }
  .ai-wd-sidebar .accordion .accordion-item .accordion-button span, .ai-wd-sidebar .accordion .accordion-item .accordion-button::after {
    display: none;
  }
  .ai-wd-sidebar .accordion .accordion-item .accordion-button i {
    font-size: 22px;
    margin-right: 0;
  }
  .ai-wd-sidebar .accordion .accordion-item .accordion-collapse {
    display: none;
  }
  .ai-wd-sidebar .expand-storage-wrapper {
    display: none;
  }
  .ai-wd-sidebar .sidebarToggler {
    background-color: #ffffff;
    height: 30px;
    width: 30px;
    position: absolute;
    left: 20px;
    border-radius: 50%;
    cursor: pointer;
    top: 10px;
  }
  .ai-wd-sidebar .sidebarToggler::after, .ai-wd-sidebar .sidebarToggler::before {
    content: "";
    height: 3px;
    width: 12px;
    background-color: #2E2E2E;
    position: absolute;
    right: 9px;
    border-radius: 7px;
    transition: ease all 0.3s;
  }
  .ai-wd-sidebar .sidebarToggler::after {
    top: 36%;
    transform: rotate(24deg);
  }
  .ai-wd-sidebar .sidebarToggler::before {
    bottom: 36%;
    transform: rotate(-24deg);
  }
  .ai-wd-sidebar.sidebar-full {
    width: 300px;
    box-shadow: 0px 3px 3px 1px #BABABA;
  }
  .ai-wd-sidebar.sidebar-full .sidebar-menu-heading,
  .ai-wd-sidebar.sidebar-full .new-folder-btn span {
    display: block;
  }
  .ai-wd-sidebar.sidebar-full .sidebar-items {
    height: calc(100dvh - 230px);
  }
  .ai-wd-sidebar.sidebar-full .new-folder-btn i {
    display: none;
  }
  .ai-wd-sidebar.sidebar-full .new-folder-btn .btn {
    padding: 8px 10px;
  }
  .ai-wd-sidebar.sidebar-full .accordion .accordion-item {
    padding: 0 15px;
  }
  .ai-wd-sidebar.sidebar-full .accordion .accordion-item .accordion-button {
    padding: 10px 0 10px 15px;
    display: flex;
    justify-content: start;
  }
  .ai-wd-sidebar.sidebar-full .accordion .accordion-item .accordion-button span, .ai-wd-sidebar.sidebar-full .accordion .accordion-item .accordion-button::after {
    display: block;
  }
  .ai-wd-sidebar.sidebar-full .accordion .accordion-item .accordion-button i {
    font-size: 16px;
    margin-right: 6px;
  }
  .ai-wd-sidebar.sidebar-full .accordion .accordion-item .accordion-collapse:not(.show) {
    display: none;
  }
  .ai-wd-sidebar.sidebar-full .accordion .accordion-item .accordion-collapse.show {
    display: block;
  }
  .ai-wd-sidebar.sidebar-full .expand-storage-wrapper {
    display: block;
  }
  .ai-wd-sidebar.sidebar-full .sidebarToggler::after {
    transform: rotate(-24deg);
  }
  .ai-wd-sidebar.sidebar-full .sidebarToggler::before {
    transform: rotate(24deg);
  }
}
@media (max-width: 576px) {
  .ai-wd-sidebar.sidebar-full .accordion .accordion-item {
    padding: 0;
  }
}

.ai-wd-wrapper {
  display: flex;
}
.ai-wd-wrapper .ai-wd-main-content {
  width: calc(100% - 300px);
  background-color: #000000;
  height: calc(100dvh - 74px);
  padding: 15px 15px;
  overflow: auto;
}
@media (max-width: 1300px) {
  .ai-wd-wrapper .ai-wd-main-content {
    width: calc(100% - 70px);
    margin-left: 70px;
  }
}
.ai-wd-wrapper .heading-border-bottom {
  border-bottom: 1px solid #2E2E2E;
  padding-bottom: 15px;
}

.btn {
  transition: ease all 0.3s;
  padding: 0.5rem 1.2rem;
}

.btn-primary {
  background-color: #269ED5;
  border-color: #269ED5;
}
.btn-primary:hover {
  opacity: 0.9;
  background-color: #269ED5;
  border-color: #269ED5;
}

.icon-btns {
  background-color: transparent;
  border: 0;
  outline: none;
  color: #ffffff;
  transition: ease all 0.3s;
}
.icon-btns.active {
  color: #269ED5;
}

.bg-primary {
  background-color: #269ED5 !important;
}

.ai-wd-card {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 16px;
  display: block;
  text-decoration: none;
}
.ai-wd-card.bg-d800 {
  background-color: #2E2E2E;
}
.ai-wd-card.bg-d900 {
  background-color: #161616;
}
.ai-wd-card .card-para:last-of-type {
  margin-bottom: 0;
}
.ai-wd-card .icon-btns.pined {
  color: #269ED5;
}

.ai-wd-fileCards {
  cursor: pointer;
}
.ai-wd-fileCards .fileCard-heading {
  font-weight: normal;
}
.ai-wd-fileCards .ai-wd-card {
  margin-bottom: 16px;
  text-align: center;
}
.ai-wd-fileCards .ai-wd-card i {
  font-size: 48px;
}

.loadTestFiles-card {
  cursor: pointer;
}
.loadTestFiles-card .ai-wd-card {
  padding: 0;
}
.loadTestFiles-card .ai-wd-card img {
  border-radius: 10px;
  transition: ease all 0.3s;
  height: 226px;
}
.loadTestFiles-card .ai-wd-card:hover img {
  transform: scale(1.02);
}

.ai-wd-tower-graph {
  margin: 30px 0;
  position: relative;
}
.ai-wd-tower-graph .numbersRow {
  display: flex;
  flex-direction: column;
}
.ai-wd-tower-graph .numbersRow span {
  margin: 15px 0;
  position: relative;
}
.ai-wd-tower-graph .numbersRow span::after {
  content: "";
  width: calc(100% - 60px);
  height: 2px;
  background-color: #2E2E2E;
  position: absolute;
  right: 20px;
  top: 50%;
}
.ai-wd-tower-graph .deptNames {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 40px;
  margin-right: 20px;
}
.ai-wd-tower-graph .deptNames span {
  width: 14.2857142857%;
  text-align: center;
}
@media (max-width: 576px) {
  .ai-wd-tower-graph .deptNames {
    margin-top: 15px;
  }
  .ai-wd-tower-graph .deptNames span {
    transform: rotate(270deg);
    text-wrap: nowrap;
  }
}
.ai-wd-tower-graph .graphTowers {
  position: absolute;
  right: 20px;
  top: 0;
  height: 300px;
  width: calc(100% - 60px);
  display: flex;
  justify-content: space-evenly;
}
.ai-wd-tower-graph .graphTowers .tower-h1 {
  height: calc(1 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h2 {
  height: calc(2 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h3 {
  height: calc(3 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h4 {
  height: calc(4 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h5 {
  height: calc(5 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h6 {
  height: calc(6 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h7 {
  height: calc(7 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h8 {
  height: calc(8 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h9 {
  height: calc(9 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h10 {
  height: calc(10 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h11 {
  height: calc(11 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h12 {
  height: calc(12 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h13 {
  height: calc(13 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h14 {
  height: calc(14 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h15 {
  height: calc(15 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h16 {
  height: calc(16 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h17 {
  height: calc(17 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h18 {
  height: calc(18 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h19 {
  height: calc(19 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h20 {
  height: calc(20 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h21 {
  height: calc(21 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h22 {
  height: calc(22 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h23 {
  height: calc(23 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h24 {
  height: calc(24 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h25 {
  height: calc(25 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h26 {
  height: calc(26 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h27 {
  height: calc(27 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h28 {
  height: calc(28 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h29 {
  height: calc(29 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h30 {
  height: calc(30 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h31 {
  height: calc(31 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h32 {
  height: calc(32 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h33 {
  height: calc(33 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h34 {
  height: calc(34 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h35 {
  height: calc(35 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h36 {
  height: calc(36 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h37 {
  height: calc(37 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h38 {
  height: calc(38 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h39 {
  height: calc(39 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h40 {
  height: calc(40 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h41 {
  height: calc(41 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h42 {
  height: calc(42 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h43 {
  height: calc(43 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h44 {
  height: calc(44 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h45 {
  height: calc(45 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h46 {
  height: calc(46 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h47 {
  height: calc(47 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h48 {
  height: calc(48 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h49 {
  height: calc(49 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h50 {
  height: calc(50 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h51 {
  height: calc(51 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h52 {
  height: calc(52 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h53 {
  height: calc(53 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h54 {
  height: calc(54 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h55 {
  height: calc(55 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h56 {
  height: calc(56 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h57 {
  height: calc(57 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h58 {
  height: calc(58 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h59 {
  height: calc(59 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h60 {
  height: calc(60 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h61 {
  height: calc(61 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h62 {
  height: calc(62 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h63 {
  height: calc(63 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h64 {
  height: calc(64 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h65 {
  height: calc(65 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h66 {
  height: calc(66 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h67 {
  height: calc(67 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h68 {
  height: calc(68 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h69 {
  height: calc(69 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h70 {
  height: calc(70 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h71 {
  height: calc(71 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h72 {
  height: calc(72 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h73 {
  height: calc(73 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h74 {
  height: calc(74 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h75 {
  height: calc(75 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h76 {
  height: calc(76 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h77 {
  height: calc(77 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h78 {
  height: calc(78 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h79 {
  height: calc(79 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h80 {
  height: calc(80 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h81 {
  height: calc(81 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h82 {
  height: calc(82 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h83 {
  height: calc(83 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h84 {
  height: calc(84 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h85 {
  height: calc(85 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h86 {
  height: calc(86 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h87 {
  height: calc(87 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h88 {
  height: calc(88 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h89 {
  height: calc(89 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h90 {
  height: calc(90 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h91 {
  height: calc(91 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h92 {
  height: calc(92 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h93 {
  height: calc(93 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h94 {
  height: calc(94 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h95 {
  height: calc(95 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h96 {
  height: calc(96 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h97 {
  height: calc(97 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h98 {
  height: calc(98 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h99 {
  height: calc(99 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-h100 {
  height: calc(100 / 100 * 100%);
}
.ai-wd-tower-graph .graphTowers .tower-wrapper {
  width: 14.2857142857%;
  height: 100%;
  display: flex;
  align-items: end;
}
.ai-wd-tower-graph .graphTowers .tower-wrapper .tower-outer {
  margin: 0 auto;
  width: 25px;
  background-color: #269ED5;
  border-radius: 30px;
  display: flex;
  align-items: end;
  height: 99%;
}
.ai-wd-tower-graph .graphTowers .tower-wrapper .tower-outer .tower-inner {
  background-color: #2E2E2E;
  width: 100%;
  border-radius: 30px;
}
@media (max-width: 576px) {
  .ai-wd-tower-graph .graphTowers .tower-wrapper .tower-outer {
    width: 15px;
  }
}

.filter-short-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 34px;
}
.filter-short-nav .filter-short-btns {
  display: flex;
  align-items: center;
}
.filter-short-nav .filter-short-btns button {
  margin: 0 6px;
}
.filter-short-nav .filter-short-btns button:last-of-type {
  margin-right: 0;
}
.filter-short-nav .filter-short-btns button i {
  font-size: 24px;
}
.filter-short-nav .filter-short-btns button.icon-btns {
  min-width: 35px;
}
.filter-short-nav .filter-short-btns button.icon-btns.eyeToggled {
  position: relative;
  transition: ease all 0.3s;
}
.filter-short-nav .filter-short-btns button.icon-btns.eyeToggled::after {
  content: "";
  height: 2px;
  width: 40px;
  background-color: #ffffff;
  position: absolute;
  transform: rotate(30deg);
  left: 1px;
  top: 11px;
  box-shadow: 0px 1px 0px 1px #000000;
}

.filtersWrapper {
  border-left: 2px solid #2E2E2E;
  padding: 15px 20px;
  height: calc(100dvh - 250px);
  position: sticky;
  top: 10px;
}
.filtersWrapper .filter-form-group {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.filtersWrapper .filter-form-group .ai-wd-checkbox {
  height: 20px;
  width: 20px;
  position: relative;
  z-index: 1;
}
.filtersWrapper .filter-form-group .ai-wd-checkbox::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #269ED5;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 3px;
}
.filtersWrapper .filter-form-group .ai-wd-checkbox:checked::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #269ED5;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 3px;
  background-size: 16px;
  background-position: 2px 4px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyNiAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTguOTQ3MjggMTkuMTc0MUwwLjgyMjI3OCAxMS4wNDkxQzAuMzM0MTQzIDEwLjU2MSAwLjMzNDE0MyA5Ljc2OTUyIDAuODIyMjc4IDkuMjgxMzRMMi41OSA3LjUxMzU2QzMuMDc4MTQgNy4wMjUzOCAzLjg2OTY0IDcuMDI1MzggNC4zNTc3OCA3LjUxMzU2TDkuODMxMTcgMTIuOTg2OUwyMS41NTQ2IDEuMjYzNTZDMjIuMDQyNyAwLjc3NTQyNyAyMi44MzQyIDAuNzc1NDI3IDIzLjMyMjMgMS4yNjM1NkwyNS4wOTAxIDMuMDMxMzRDMjUuNTc4MiAzLjUxOTQ3IDI1LjU3ODIgNC4zMTA5MyAyNS4wOTAxIDQuNzk5MTFMMTAuNzE1MSAxOS4xNzQyQzEwLjIyNjkgMTkuNjYyMyA5LjQzNTQxIDE5LjY2MjMgOC45NDcyOCAxOS4xNzQxWiIgZmlsbD0iYmxhY2siLz4KPC9zdmc+Cg==");
}

/*# sourceMappingURL=style.css.map */
