.btn {
    transition: ease all .3s;
    padding: .5rem 1.2rem;
}

.btn-primary {
    @include btn-bb-color($primary, $primary);
}

.icon-btns{
    background-color: transparent;
    border: 0;
    outline: none;
    color: $white;
    transition: ease all .3s;

    &.active{
        color: $primary;
    }
}