@use "sass:math";

@mixin btn-bb-color($background-color, $border-color) {
    background-color: $background-color;
    border-color: $border-color;

    &:hover {
        opacity: .9;
        background-color: $background-color;
        border-color: $border-color;
    }
}

@mixin background-color($background-color) {
    background-color: $background-color !important;
}

@mixin tower-height($towerHeight) {
    @for $i from 1 through $towerHeight {
        .tower-h#{$i} {
            height: calc(#{$i} / #{$towerHeight} * 100%);
        }
    }
}
